* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin: 5px 10px;
  padding: 0 10px;
  border: 2px solid #415d43;
  border-radius: 3px;

  
}
nav ul{
  display: flex;
  list-style: none;
  gap: 4px;

}
nav ul li {
  border-right: 1px solid #415d43;
  padding-right: 10px;
}
nav ul li:last-child{
  border:none
}
nav ul a{
  text-decoration: none;
  color: black
}
nav ul a:hover{
 color: rgba(65, 93, 67,0.6);
}

/* .main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.contain {
  margin: 10px;
  width: 95%;
  border: solid 2px #415d43;
}

.book-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
}

.button {
  color: white;
  background-color: #a92626;
  box-shadow: 2px 3px #333;
  padding: 3px 6px;
  border: none;

}

.book-odd {
  background-color:  rgba(65, 93, 67,0.2);
}

.form-container {
    width: 30%;
}

form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.add {
  width: 20%;
  box-shadow: 2px 3px #333;
  padding: 3px 20px;
  color: white;
  background-color: #415d43;
  border: none;
  
}

input { 
   width: 100%;
   padding: 6px 6px;
   margin-bottom: 5px;
   border: solid 2px rgba(65, 93, 67,0.7);
   color: #415d43;   
}

input:focus {
    border: solid 2px #415d43;
    outline: none;
}
.message{
  display: none;
}

.book-list-container {
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-book-container {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.img-container{
  width: 16%;
}

.img-container img {
  width: 100%;
  height: auto;
}

.contact-continar{
  display: flex;
  width: 100%;
  height: 74%;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 40px;
}
.contact-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-top: 2px solid #415d43;
  padding: 0 10px; 
}

.date-containter {
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.active {
  color: rgba(65, 93, 67,0.6);
}


.hide{
  display: none;
}
/* * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  margin: 5px 10px;
  padding: 0 10px;
  border: 2px solid #415d43;
  border-radius: 3px;

  
}
nav ul{
  display: flex;
  list-style: none;
  gap: 4px;

}
nav ul li {
  border-right: 1px solid #415d43;
  padding-right: 10px;
}
nav ul li:last-child{
  border:none
}
nav ul a{
  text-decoration: none;
  color: black
}
nav ul a:hover{
 color: rgba(65, 93, 67,0.6);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-page{

}
.hide{
  display: none;
}

.form-container{
  width: 100%;
  height: 74%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border:1px solid black
}

form {
margin: 0;
display: flex;
flex-direction: column;
gap: 10px;
}

input {
  display: block;
  margin-bottom: 15px;
}

article {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}

article .card{
  display: flex;
  gap: 3px;
}

article p {
  margin: 0;
} */
